html{
    display: flex;

    height:100%;
    margin: 0;
    padding: 20px;
    
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    
    }
body{
    font-family: "Inter";
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

    h1{
        font-size: 36px;
        font-weight: 600;
        font-family: "Public Sans"; 
        color:  #1d1d1d;
        text-align: left;
        
    }
 #menbtn{
    margin:0px;
    display: inline-block;
    vertical-align: center;
 }
 option{
    font-family: "Inter";
    
 }
 label{
    font-family:"inter";
 }
 input{
    font-family: "inter";
 }
 span{
    font-family: "inter";
 }
 button{
    font-family: "inter";
 }
#enter{
    font-family: "inter";
}
#clear{
    font-family: "inter";
}
#genders{
    font-family: "inter";
    margin-right: 60px;
    accent-color: #10A73D;
    margin-top: 5px;
}
#heightDiv{
    margin-top: 10px;
}
#weightDiv{
    margin-right: 25px;

}
#ageDiv{
    margin-top: 10px;
    margin-right: 25px;
}
.a1{
    display:flex;
    
}
#myDropdown{
    margin-top: 10px;
}
#gendersAndButtons{
    margin-top: 10px;

}
#input-box{
    background-color:#bababb;
    border-radius: 5px;
    margin: 0px;
    color: white;
    padding: 20px;
}

#enter{
    background-color: #10A73D;
    border-radius: 5px;
    color:white;
    margin:0px;
    height:40px;
    line-height:12px;
}
#enter:hover{
    background-color: #0D772C;
    transform: scale(1.1);
}
#clear{
    background-color: #bababb;
    border-radius: 5px;
    border-color: white;
    color:white;
    height:40px;
    line-height:12px;
    width: 80px;
}
#clear:hover{
    background-color: #6C6C6D;
    transform: scale(1.1);
}
#heading{
    font-size: 20px;
    
}
#heading2{
    font-size: 20px;
    
}
h3{
       font-size:18px; 
    }
 

p{
    font-size: 18px;
    margin-left: 20px;
    line-height: 150%;
}


#btns{
    margin-top: 10px;
   
}

#headingS{
    font-size: 20px;
    
}
#headingL1{
    font-size: 20px;
}
#headingM{
    font-size: 20px;
}
#headingA{
    font-size: 20px;
}
#headingL{
    font-size: 20px;
}
#headingL2{
    font-size: 20px;
}
#headingG{
    font-size: 20px;
}
#headingG2{
    font-size: 20px;
}
